body {
    background: url(Image1/pic3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav{
    background-color: #ffba08;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
}
nav a{
    color: #370617;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 40px;
}
nav img{
    width: 50px;
}
.body {
    background-color: rgba(255, 251, 0, 0.788);
    margin: auto;
    width: 80%;
    text-align: center;
    border-radius: 30px;
}
.para1, .para2, .pic1, .pic2 {
    width: 50%;
    padding: 15px;
}
.p1, .p2 {
    margin: 150px 0;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    font-size: 50px;
    text-align: center;
    background-color: #FFC436;
    width: 60%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 25px;
}
img {
    border-radius: 10px;
}
footer{
    background-color: #ffba08;
    padding: 20px;
}
.footer-link {
    text-decoration: none;
}
.footer-link a{
    color: #370617;
    text-decoration: none;
    margin:0 15px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.icon .bi {
    color: #370617;
    font-size: 30px;
    text-decoration: none;
    margin:0 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
